<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <span class="spacer"></span>
      <span class="bienvenido-usuario">Bienvenido <span class="nombreUsuario">{{nombreUsuario}}</span></span>
      <button class="btn-cerrarSesion" (click)="logOut()">Cerrar Sesión</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar [mode]=" 'indeterminate' " *ngIf="!hasResponse || !hasResponseUsers">
  </mat-progress-bar>

  <nav aria-label="breadcrumb" class="container-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/formularios">Inicio</a>/ </li>
      <li class="breadcrumb-item"> {{nombreFormulario}}/</li>
      <li class="breadcrumb-item active">Gráficas</li>
    </ol>
  </nav>

  <div class="graphs">

    <div class="container-info-formulario ">
      <div class="container-titulo ">
        <h2 class="titulo-text ">{{nombreFormulario}}</h2>
        <h4 class="descripcion-text ">{{descripcionFormulario}}</h4>
      </div>

      <h4 class="title-respuestas ">Estadísticas</h4>

      <div *ngIf="!hasUsers; else noUsersYet">
        <div class="container-respuesta " *ngFor="let pregunta of preguntas; let i=index ">
          <h4 class="respuesta-text "><span class="contador ">{{i + 1}}.- </span> {{pregunta.texto}}</h4>
          <app-grafica-pastel [preguntaJson]=pregunta *ngIf="i%3==0"></app-grafica-pastel>
          <div style="width: 600px;" class="center" *ngIf="i%3==1">
            <app-grafica-barras [preguntaJson]=pregunta></app-grafica-barras>
          </div>
          <app-grafica-dona [preguntaJson]=pregunta *ngIf="i%3==2"></app-grafica-dona>
        </div>
      </div>


    </div>

    <!--div style="width: 600px;" class="center">
      <app-grafica-barras></app-grafica-barras>
    </div>
    <app-grafica-dona></app-grafica-dona-->
  </div>

</div>

<ng-template #noUsersYet>
  <div class="container-sinUsuarios">
    <h5 class="ops-texto">Ooops!!</h5>
    <span class="noUsuarios">Aún no hay estadísticas de esta encuesta</span>
  </div>
</ng-template>
