/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-white {
    color: #fff !important;
}

.text-danger {
    color: red !important;
}

.btn {
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1rem;
}

.full-width {
    width: 100%;
}

.snackbar-success {
    background: #4285f4;
    color: white;
}