/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-white {
    color: #fff !important;
}

.text-danger {
    color: red !important;
}

.btn {
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1rem;
}

.full-width {
    width: 100% !important;
}

.snackbar-success {
    background: #4285f4;
    color: white;
}

.snackbar-success-green {
    background: #83ad4d;
    color: #fff;
}

.snackbar-error {
    background: #ba0000;
    color: #fff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }
}

.container-breadcrumb {
    margin: auto;
    width: 50%;
}

.breadcrumb-item.active {
    color: #6c757d;
}