<div class="container">

    <mat-toolbar color="primary">
        <mat-toolbar-row>

            <span class="spacer"></span>
            <span class="bienvenido-usuario">Bienvenido <span class="nombreUsuario">{{nombreUsuario}}</span></span>
            <button class="btn-cerrarSesion" (click)="logOut()">Cerrar Sesión</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="container-crear">
        <h2 class="text-white">Explora el amplio catálogo de encuestas</h2>
    </div>

</div>