<div class="container">
    <div class="container-registro">
        <h1 class="title-registro text-white">Regístrate</h1>
        <form>
            <div>
                <input class="full-width" type="text" placeholder="Usuario">
            </div>
            <div>
                <input class="full-width" type="password" placeholder="Contraseña">
            </div>
            <div>
                <input class="full-width" type="password" placeholder="Confirmar contraseña">
            </div>
            <div>
                <button class="full-width btn-registrar">Registrarme</button>
            </div>
        </form>
        <span class="text-white container-title-crear">
            <a routerLink="/login" class="title-crear text-white">Inicia Sesión</a> <span>o</span>
        <a routerLink="/" class="title-crear text-white">Regresar a la pagina de inicio</a>
        </span>
    </div>
</div>