<div class="container">

    <div class="container-login">

        <h1 class="title-login text-white">Ingresa a tu cuenta</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div>
                <input class="full-width" type="text" formControlName="Nombre" placeholder="Usuario">
            </div>
            <div>
                <input class="full-width" type="password" formControlName="Contrasena" placeholder="Contraseña">
            </div>
            <div>
                <button type="submit" class="full-width btn-ingresar">Ingresar</button>
            </div>
        </form>

        <span class="text-white container-title-crear">
            <a routerLink="/registro" class="title-crear text-white">Crear una cuenta</a> <span>o</span>
        <a routerLink="/" class="title-crear text-white">Regresar a la pagina de inicio</a>
        </span>

    </div>

</div>