<div class="container">
    <div class="container-description">
        <h2 class="title-description text-white">FormBuilder es la mejor forma para crear encuestas en segundos</h2>

        <h4 class="subtitle-description text-white">Crea, personaliza y comparte tus encuestas.</h4>

        <div class="container-buttons" *ngIf="!isLogged">
            <button class="btn btn-login" (click)="goToLogin()">Inicia Sesion</button>
            <button class="btn btn-signup" (click)="goToSignUp()">Registrate</button>
        </div>

        <div class="container-button-crear" *ngIf="isLogged">
            <button class="btn btn-crear" (click)="goToForms()">Crear Formulario</button>
            <!-- <button class="btn btn-cerrarSesion" (click)="logOut()">Cerrar Sesion</button> -->
        </div>

    </div>
</div>