<div class="container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>

            <span class="spacer"></span>
            <span class="bienvenido-usuario">Bienvenido <span class="nombreUsuario">{{nombreUsuario}}</span></span>
            <button class="btn-cerrarSesion" (click)="logOut()">Cerrar Sesión</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-progress-bar [mode]="'indeterminate'" *ngIf="!hasForm">
    </mat-progress-bar>

    <nav aria-label="breadcrumb" class="container-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/formularios">Inicio</a>/ </li>
            <li class="breadcrumb-item"> Llenar formulario/ </li>
            <li class="breadcrumb-item active"> {{nombreFormulario}}</li>
        </ol>
    </nav>

    <div class="container-info-formulario">
        <div class="container-titulo">
            <h2 class="titulo-text">{{nombreFormulario}}</h2>
            <h4 class="descripcion-text">{{descripcionFormulario}}</h4>
        </div>

    </div>

    <div class="container-info-formulario" *ngIf="hasForm">

        <form autocomplete="off">
            <div class="container-abiertas" *ngFor="let pregunta of questionarie.preguntasAbiertas; let i = index">
                <h4>{{pregunta.texto}}</h4>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Escribe tu respuesta" [(ngModel)]="pregunta.respuesta" name="respuesta">
                </mat-form-field>

            </div>
            <!-- preguntas multiples -->
            <div class="container-multiples" *ngFor="let preguntaMultiple of questionarie.preguntasMultiples">
                <h4>{{preguntaMultiple.texto}}</h4>
                <div *ngFor="let opcion of preguntaMultiple.opciones;let j=index">

                    <input type="radio" [name]="preguntaMultiple.id" [value]="opcion.opcion" [(ngModel)]="preguntaMultiple.respuesta"> {{opcion.opcion}}
                </div>
            </div>
            <!-- seleccion multiple -->
            <div class="container-multiples" *ngFor="let seleccionMultiple of questionarie.seleccionMultiple;let i=index">
                <h4>{{seleccionMultiple.texto}}</h4>
                <div *ngFor="let opcion of seleccionMultiple.opciones;let j=index">

                    <input type="checkbox" [value]="opcion.opcion" [name]="seleccionMultiple.texto+i+j" (change)="seleccionarMultiples(seleccionMultiple,opcion.opcion, $event)"> {{opcion.opcion}}
                </div>
            </div>
            <button class="btn btn-fill" (click)="fill()">Enviar</button>
        </form>

    </div>



</div>